
.rbc-calendar {
    background: #ffffff;
    color: #111827; 
    font-family: "Inter", sans-serif;
    
  }
  

  .rbc-time-view,
  .rbc-month-view {
    border-color: #e5e7eb; 
  }
  
  .rbc-time-content > * + * {
    border-left-color: #f3f4f6 !important; 
  }
  
  .rbc-time-header-content > .rbc-row > div + div {
    border-left-color: #f3f4f6 !important;
  }
  

  .rbc-time-gutter,
  .rbc-time-header-gutter {
    border-right-color: #e5e7eb;
    box-sizing: border-box;
    flex: 0 0 auto;
    width: auto;
  }
  

  .rbc-toolbar {
    background: #f9fafb; 
    border-bottom: 1px solid #e5e7eb;
    padding: 0.5rem;
    font-weight: 600;
  }
  

  .rbc-toolbar-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111827;
  }
 
  .rbc-off-range-bg {
    background: #f9fafb !important; 
  }
  
  .rbc-today {
    background: #eff6ff !important; 
  }
  
 
.rbc-event {
    padding: 0 !important;
    border-radius: 0.5rem !important; 
    height: 10% !important;
  }
  
  
  .rbc-event-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .rbc-event:hover {
    transform: scale(1.02);
    opacity: 0.95;
  }
  
  
  .rbc-event .event-icon {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  
.rbc-event-label {
    display: none !important;
  }
  
  
  .rbc-agenda-date-cell,
  .rbc-agenda-time-cell {
    color: #374151; 
    font-weight: 500;
  }
  
  .rbc-agenda-event-cell {
    color: #111827; 
    font-weight: 500;
  }
  